

.icon-logo {
    width: 36px;
    height: 36px;
    background: url('assets/images/logo.png?__sprite');
}

.icon-play {
    width: 80px;
    height: 80px;
    background: url('./assets/images/play.png?__sprite');
}

